<div class="container justify-content-center" style="height: 100%; padding-top:69px;">
  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a  href="/" type="button" tag="back" type="button" class="btn btn-outline-light"><i class="fa-solid fa-arrow-left"></i></a>
      <button tag="Watchlist" type="button" class="btn btn-outline-light">Add To Watchlist</button>
    </div>    
  </div>
  <div class="p-2 text-center">
    <div id="ah_wrapper">
      {% include "./items.html" %}
    </div>
  </div>
</div>