<div style="padding-top: 69px;">
    <div class="container text-white p-4">
        <div class="row d-flex justify-content-center">
            <div class="col-4 bg-dark rounded shadow">
                <h1>{{name}} </h1>
                {{item_data.item_class.name}}<br>
                {{item_data.item_subclass.name}}
            </div>
        </div>
    </div>
    <h5>Auctions: [ {{count}} ] </h5>
    <h5>Unique items: [ {{total}} ]</h5>
    <div class="chart-container bg-dark">
        <canvas id="SequentialChart"></canvas>
    </div>
    <div class="chart-container bg-dark">
        <canvas id="HourlyChart"></canvas>
    </div>
    <script>
        const sequential_labels = {{sequential_labels | safe}}
        const sequential_price = {{sequential_price | safe}}
        const sequential_quant = {{sequential_quant | safe }}
        const hourly_labels = {{hourly_labels | safe}}
        const hourly_price = {{hourly_price | safe}}
        const hourly_quant = {{hourly_quant | safe }}
        const sequential_ma = {{sequential_ma | safe }}
        const hourly_ma = {{hourly_ma | safe }}
    </script>
</div>

<!--table class="table text-light display">
    <thead>
        <tr>
            <th>a_id</th>
            <th>item_id</th>
            <th>bid</th>
            <th>buyout</th>
            <th>quantity</th>
            <th>time_left</th>
        </tr>
    </thead>
    <tbody>
        {% for a in ah_data %}
        <tr>
            <td>{{a.a_id}}</td>
            <td>{{a.item_id}}</td>
            <td>{{a.bid}}</td>
            <td>{{a.buyout}}</td>
            <td>{{a.quantity}}</td>
            <td>{{a.time_left}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table-->