<nav class="navbar navbar-expand-md text-uppercase nav_font fixed-top p-0 shadow">
    <a class="btn text-white" href="{% url 'app' %}">
        <img width="22px" height="22px" type="image/svg"
            src="https://render.worldofwarcraft.com/classic-us/icons/56/inv_misc_rune_01.jpg" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
        aria-expanded="false" aria-controls="#main_nav">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
        {% if user.is_authenticated %}
        <button class="btn text-light ms-auto">
            <i class="fa-solid fa-upload"></i>
        </button>
        <button class="btn text-light ">
            <i class="fa-solid fa-sliders"></i>
        </button>
        <a href="{% url  'app' 'profile' %}" class="btn text-light
        {% if 'profile' in request.path %}nav_selected{% endif %}">
        <i class="fa-solid fa-id-card"></i>
        </a>
        <a class="nav-link text-light" href="javascript:{document.getElementById('logout').submit()}"><i
            class="fas fa-sign-out-alt"></i></a>
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden" />
        </form>
        {% else %}
        <a href="{% url 'registration' %}" class="btn text-light ms-auto 
        {% if 'registration' in request.path %}nav_selected border-top{% endif %}">
            <i class="fa fa-user-plus"></i>
        </a>
        <a class="btn text-light
        {% if 'login' in request.path %}nav_selected border-top{% endif %}" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt"></i>
        </a>
        {% endif %}
    </div>
</nav>